{
    "branches": "master",
    "plugins": [
        ["@semantic-release/commit-analyzer", {
          "releaseRules": [
            {"type": "major", "release": "major"},
            {"type": "feat", "release": "minor"},
            {"type": "data", "release": "minor"},
            {"type": "fix", "release": "patch"},
            {"type": "enh", "release": "patch"},
            {"type": "refactor", "release": "patch"},
            {"type": "perf", "release": "patch"},
            {"type": "chore", "release": "patch"},
            {"type": "test", "release": "patch"},
            {"type": "docs", "release": "patch"}
          ]
        }],
        ["@semantic-release/release-notes-generator", {
          "preset": "conventionalcommits",
          "presetConfig": {
            "types": [
              {"type": "major", "section": "Major"},
              {"type": "feat", "section": "Features"},
              {"type": "data", "section": "Data Update"},
              {"type": "fix", "section": "Bug Fixes"},
              {"type": "enh", "section": "Enhancement"},
              {"type": "refactor", "section": "Refactor"},
              {"type": "perf", "section": "Perf"},
              {"type": "chore", "section": "Chore", "hidden": true},
              {"type": "test", "section": "Test", "hidden": true},
              {"type": "docs", "section": "Docs", "hidden": true}
            ]
          }
        }],
        "@semantic-release/github"
    ]
}
